/* Contenedor principal */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Imagen de fondo */
.background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* La imagen está detrás del contenido */
}

/* Contenido general */
.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Texto de bienvenida */
.welcome-text h1 {
    font-size: 36px;
    color: #003366;
    margin: 0;
    font-weight: bold;
}

/* Login box */
.login-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
    margin-bottom: 20px;
    color: #003366;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.login-box input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #003366;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.login-box button:hover {
    background-color: #0055a5;
}

/* Footer */
.footer {
    text-align: center;
    background-color: #003366;
    color: white;
    padding: 10px;
}
